<header id="header">
    <h1 id="logo"><%= config.title %></h1>
    <nav id="main-nav">
        <% for (var link in site.data.menu) { %>
            <a href="<%= site.data.menu[link] %>"> <%= link %> </a>
          <% } %>
    </nav>
</header>